{% extends 'base.html.twig' %}

{% block title %}Your Profile{% endblock %}

{% block body %}
    <p class="h1 text-secondary py-3">Account Profile</p>

    <table class="table">
        <tbody>
        <tr>
            <td>Name</td>
            <td>{{ account.name }}</td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td>{{ account.lastname }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ account.email }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('app_account_edit', { "id" : account.id }) }}" class="btn btn-secondary my-3">Edit info</a>

    {{ block("loadposts", "post/loadposts.html.twig") }}
{% endblock %}
